@{
    ViewBag.Title = string.Empty;
}

@section Scripts
{
    <script>
    $('.match-save').click(function (obj) {
        window.helpers().saveMatch(obj, '@Url.Action("SetBetResult", "Player")');
    });
    </script>
}

<div class="row">
    <div>
        <h2>Tabla</h2>
        @Html.Action("StandingsPartial", "Standings", new { count = 5 })
        @Html.ActionLink("Tabla Completa", "Index", "Standings")
    </div>
</div>

<div class="row">
    <div>
        <h2>Últimos partidos</h2>
        @Html.Action("AllMatchesPartial", "Matches", new MatchesListRequest { AllowSaveResults = false, Count = 3, ExcludePending = true, OrderByDescending = true })
        @Html.ActionLink("Todos los partidos", "AllMatches", "Matches")
    </div>
</div>

<div class="row">
    <div>
        <h2>Próximos partidos</h2>
        @Html.Action("MyMatchesPartial", "Matches", new MatchesListRequest { AllowSaveResults = true, Count = 3, ExcludeCompleted = true })
        @Html.ActionLink("Todos mis partidos", "AllMatches", "Player")
    </div>
</div>