@using Southworks.Prode.Web.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prode | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Southworks Prode", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Mis Partidos", "AllMatches", "Player")</li>
                <li>@Html.ActionLink("Tabla", "Index", "Standings")</li>
                <li>@Html.ActionLink("Ayuda", "Help", "Home")</li>
                @if (User.UserIsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Admin Partidos", "Matches", "Admin")</li>
                }
            </ul>

            <span class="navbar-text">
                <span>@User.Identity.GetUserDisplayName()</span>
                <span>|</span>
                <span>@Html.ActionLink("Log out", "SignOut", "Auth")</span>
            </span>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/prode")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            var options = { weekday: "long", month: "long", day: "numeric", hour: "numeric", minute: "numeric" };
            $('.match-date').text(function (index, value) {
                var t = new Date($($('.match-date')[index]).data('time') + " UTC");
                return t.toLocaleString("es-AR", options);
            });
        });
    </script>
</body>
</html>
