@model MatchFilter

@{
    ViewBag.Title = "Partidos";

    var stages = MatchStagesHelper.MatchStages.ToList();
    stages.Insert(0, new SelectListItem { Value = null, Text = "Todos" });
}

@section Scripts
{
    <script>
        $('.match-save').click(function (obj) {
            window.helpers().saveMatch(obj, '@Url.Action("SetMatchResult", "Admin")');
        });
        $('.match-calculate').click(function (obj) {
            var $target = $(obj.target),
                matchId = $target.data('match-id');

            window.location.href = '@Url.Action("GetMatchBetsResults", "Admin")?matchId=' + matchId;
        });
        $('.btn[data-filter]').click(function (obj) {
            var $this = $(this),
                filter = $this.data("filter");

            $('.btn[data-filter]').removeClass("active");
            $this.addClass("active");

            if (filter != '') {
                $('.table-matches tr').hide();
                $('.table-matches tr.' + filter).show();
            } else {
                $('.table-matches tr').show();
            }
        });
    </script>
}

<div class="jumbotron">
    <h1>Administración de Partidos</h1>
    @Html.ActionLink("Nuevo", "NewMatch", "Admin", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div>
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button class="btn btn-primary active" data-filter="" type="button">Todos</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" data-filter="match-completed" type="button">Completos</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" data-filter="match-pending" type="button">Pendients</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified">
            @foreach (var stage in MatchStagesHelper.MatchStages.Where(x => !MatchStagesHelper.SupportPenalties(x.Value)))
            {
                <div class="btn-group">
                    <button class="btn btn-success" type="button" data-filter="@stage.Value">@stage.Text</button>
                </div>
            }
        </div>
        <div class="btn-group btn-group-justified">
            @foreach (var stage in MatchStagesHelper.MatchStages.Where(x => MatchStagesHelper.SupportPenalties(x.Value)))
            {
                <div class="btn-group">
                    <button class="btn btn-danger" type="button" data-filter="@stage.Value">@stage.Text</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div>
        @Html.Action("AllMatchesPartial", "Matches", new MatchesListRequest { AllowSaveResults = true, AllowCalculateResults = true })
    </div>
</div>